body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-card {
    text-align:center;
    background:rgb(151, 204, 239);
    padding: 50px;
    border-radius: 12px;
    border: 1px solid black;
    width: 350px;
    height: 350px;
}

.div input {
    width: 320px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
}


button {
    width: 100%;
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 18px;
}